

.seat {
  height: 12px;
  width: 15px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.screen {
    background-color: #fff;
    height: 70px;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  